<!DOCTYPE html>
<html>
    <head>
        <title>Splytr</title>
        <link rel="stylesheet" type="text/css" href="styles/main.css">
    </head>
    <body>
        <br>
        <!-- Bootstrap -->
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <div class="container-fluid">
            
        <header>
            <% include partials/header %>
        </header>
        <br>
        <br>
        <main>
            <!--<div class="content">
                <h1>Content</h1>
            </div>-->
            <center>
            </center>
            <div class="container-fluid jumbotron">
            <center>
                <img src="images/Splytr.png" class="img-thumbnail" style="width: 210px;">
                <h1>
                    Welcome to Splytr!
                </h1>
            </center>
            <h2>A web app that solves rommate payment inconvenience to make roommate splitting easy.</h2>
        </div>
        
        <br>
        </main>
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="bootstrap/js/bootstrap.min.js"></script>
        </div>
    </body>
</html>
